
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.manifest
*.testlog
bin/
obj/
.vs/
#Ignore files build by Jetbrains Rider
.idea/
riderModule.iml
_ReSharper.Caches/